body {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.title {
    margin-left: 35%;;
}

#startBtn {
    position: relative;
    left: 40%;
    background-color: blue;
    color: white;
}
